a {
color: #000;
}

a:hover {
background-color: #5ec6ff; 
color: #fff;
text-decoration: none;
}

blockquote {
color: #888;
font-size: 90%;
padding: 0;
margin: 10px;
}

body {
padding: 50px 0;
margin: 0;
font-family: 'source code pro', 'andale mono', monospace;
font-size: 14px;
color: #000;
line-height: 145%;
}

footer {
clear: left;
padding: 20px 0;
font-size: 85%;
color: #aaa;
}

h1 {
float: left;
padding: 0;
margin: 0 10px 0 0;
font-size: 120%;
}

h1 a {
background-color: #000;
color: #fff;
text-decoration: none;
padding: 5px;
}

h2 {
font-size: 130%;
}

h3 {
font-size: 110%;
}

h4 {
font-size: 90%;
}

img.photo {
border: solid 1px #000;
}

main {
max-width: 500px;
padding: 20px;
margin: auto;
}

nav ul {
list-style: none outside;
padding: 5px 0;
margin: 0 0 25px 0;
font-size: 90%;
color: #eee;
}

nav ul li {
display: inline;
}

nav ul li:before {
content: "| ";
color: #eee;
}

nav ul li:first-child:before {
content: "";
}

span.nope {
text-decoration: line-through;
color: #aaa;
}

@media screen and (max-width: 600px), (max-device-width: 480px) {

  img.photo {
  width: 100%;
  height: auto;
  }
}