<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>waferbaby<% if @page.title %> / <%= @page.title %><% end %></title>
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://waferbaby.com/d" rel="me">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>waferbaby</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>Last updated on <%= Time.now.strftime('%B %-d, %Y') %>.</footer>
  </body>
</html>
