---
layout: default
---

<h2>Gnah?</h2>

<p><a href="https://www.flickr.com/photos/wafer/5177192894" title="Waiting for coffee by Daniel Bogan, on Flickr"><img src="https://farm5.staticflickr.com/4154/5177192894_000b3fcaef.jpg" width="500" height="332" alt="Waiting for coffee"></a></p>
<p><strong>Daniel Bogan</strong> is a potty-mouthed <a href="http://github.com/waferbaby/" title="Terrible code.">coder dork</a> from Australia, living with his wife and four tiny dogs in San Francisco. He works at <a href="https://flickr.com/" title="A photo sharing website.">Flickr</a> and runs <a href="http://usesthis.com/" title="A nerdy interview site.">The Setup</a>. Sorry about that.</p>
<p>You can email him by sending something to the fourth letter of the English alphabet, followed by the 'at' symbol, care of this domain.</p>