---
layout: default
---

<h2>Daniel Bogan</h2>

<p><img src="/images/headers/100-percent-bogan.jpg" width="500" height="332" alt="100% Bogan" class="photo"></p>
<p>Hello! I'm a potty-mouthed <a href="http://github.com/waferbaby/" title="Terrible code.">web developer</a> from Sydney, Australia, living with my wife and <a href="https://flickr.com/photos/wafer/tags/max" title="Photos of Max.">our</a> <a href="https://flickr.com/photos/wafer/tags/oscar" title="Photos of Oscar.">four</a> <a href="https://flickr.com/photos/wafer/tags/finch" title="Photos of Finch.">tiny</a> <a href="https://flickr.com/photos/wafer/tags/rosie" title="Photos of Rosie.">dogs</a> in San Francisco.</p>
<p>I work at <a href="https://flickr.com/" title="A photo sharing website.">Flickr</a> and run <a href="http://usesthis.com/" title="A nerdy interview site.">The Setup</a>. Sorry about that.</p>
<p>You can email me by sending something to the fourth letter of the English alphabet, followed by the 'at' symbol, care of this domain (and here's my <a href="https://keybase.io/waferbaby/key.asc" title="My public key." rel="pgpkey">public key</a>).</p>
<p>I'm also on <a href="https://flickr.com/wafer/" title="Photos of dogs.">Flickr</a>, <a href="https://twitter.com/waferbaby" title="Boring tweets." rel="me">Twitter</a> and <a href="http://www.last.fm/user/waferbaby" title="Questionable musical tastes.">Last.fm</a>, just like you.</p>