---
layout: default
---

<p><img src="/images/headers/100-percent-bogan.jpg" width="500" height="332" alt="100% Bogan" class="photo"></p>
<p><strong>Daniel Brock Bogan</strong> is a <%= (Time.now().to_i - Time.mktime(1977, 3, 10).to_i) / 31557600 %>-year-old potty-mouthed self-deprecating <a href="http://github.com/waferbaby/" title="Terrible code.">web developer</a> from Australia, living with his wife <a href="https://flickr.com/photos/wafer/tag/max" title="Photos of Max.">and</a> <a href="https://flickr.com/photos/wafer/tag/oscar" title="Photos of Oscar.">four</a> <a href="https://flickr.com/photos/wafer/tag/finch" title="Photos of Finch.">tiny</a> <a href="https://flickr.com/photos/wafer/tag/rosie" title="Photos of Rosie.">dogs</a> in San Francisco. He works at <a href="https://flickr.com/" title="A photo sharing website.">Flickr</a> and runs <a href="http://usesthis.com/" title="A nerdy interview site.">The Setup</a>. Sorry about that.</p>
<p>You can email him by sending something to the fourth letter of the English alphabet, followed by the 'at' symbol, care of this domain (here's his <a href="https://keybase.io/waferbaby/key.asc" title="Daniel's public key." rel="pgpkey">public key</a>). He is also on <a href="http://twitter.com/waferbaby" title="Boring tweets." rel="me">the Tweeters</a>.</p>