<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>waferbaby<% if @this.title %> / <%= @this.title %><% end %></title>
		<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/feed/" rel="alternate" title="Atom feed" type="application/atom+xml">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width;initial-scale=1">
		<script src="http://use.edgefonts.net/source-code-pro.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1>waferbaby</h1>
				<p id="tagline">Eating bandwidth for breakfast since the 90's.</p>
			</header>
			<nav>
				<ul>
					<li id="home"><a href="/" title="The latest post.">Home</a></li>
					<li id="archives"><a href="/archives/" title="All the older posts.">Archives</a></li>
					<li id="about"><a href="/about/" title="The typical drivel.">About</a></li>
				</ul>
			</nav>
			<section id="content">
				<%= yield %>
			</section>
			<footer>
				This is a <em>website</em> on the <em>Internet</em>, and it was last updated <%= Time.new.strftime('%B %d, %Y') %>.
			</footer>
		</div>
	</body>
</html>