<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>waferbaby<% if page.title %> / <%= page.title %><% end %></title>
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://social.waferbaby.com/@d" rel="me">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1><a href="/" title="View the latest posts.">waferbaby</a></h1>
      <nav>
        <ul>
          <li><a href="/about/" title="Details about the nerd who made this.">About</a></li>
          <li><a href="/animations/" title="My pixel animations.">Animations</a></li>
        </ul>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      This portion of the Internets was last updated on <%= Time.now.strftime('%B %-d, %Y') %>. You're cute. ❤️
    </footer>
  </body>
</html>
