<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>waferbaby<% if @page && @page.title %> / <%= @page.title %><% end %></title>
		<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<main>
			<header>
				<h1><a href="/" title="Home again, home again.">waferbaby</a></h1>
			</header>
			<nav>
				<ul>
					<li>Archives</li>
					<li><a href="/animations/" title="Moving things that I have made.">Animations</a></li>
					<li><a href="/about/" title="Less than you ever wanted to know.">About</a></li>
				</ul>
			</nav>
			<%= yield %>
			<footer>
				This is a <em>website</em> on the <em>Internet</em>, and it was last updated <%= Time.new.strftime('%B %d, %Y') %>.
			</footer>
		</main>
	</body>
</html>