<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>waferbaby - <%= @this.title %></title>
		<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="hunk">
			<nav>
				<ul>
					<li><a href="/" title="The main page.">hi</a></li>
					<li><a href="/animations/" title="My pixel animations.">animations</a></li>
				</ul>
			</nav>
			<main>
				<h1><%= @this.title %></h1>
				<%= yield %>
			</main>
			<footer>
				This is a page on the Internets. It was last updated on <%= Time.now.strftime('%B %-d, %Y') %>. You're cute. ❤️
			</footer>
		</div>
	</body>
</html>