---
layout: default
---

<h2>Animations</h2>

<p>Here are some of the animations I've made over the years. Sorry about that.</p>

<h3 id="pixhell">Pixhell</h3>

<p><q>In a far away place exists a pocket of a world where tiny creatures draw out their inexplicably troubled lives. These are their stories.</q></p>
<p>I built these tiny animations using a hacked <a href="https://en.wikipedia.org/wiki/Resource_fork#Major_resource_types" "The Wikipedia entry for resource forks.">CICN</a> editor in <a href="https://en.wikipedia.org/wiki/ResEdit" title="The Wikipedia entry for ResEdit.">ResEdit</a> (oh, I know). I'd draw each frame pixel by pixel, carefully take a screenshot and paste it into an animated GIF editor.</p>
<p>When all the frames were done - and an episode could take up to <em>sixty hours</em> - I'd convert the GIF into a movie and send it over to my pal Kurt, who would create sound effects to match. Once I had his audio track I'd glue the two together and foist the episode onto the Interwebs.</p>
<p>I've kept the original, painful descriptions.</p>

<h4 id="pixhell-s1">Series 1</h4>

<p><q>There is no obvious plot for series one. Suffice to say there is alien abduction, cyborg technology, sex and violence, scorpion mutilation, big guns, secret romance, a wedding, demons and undead rabbits, a big battle, spectral figures and the cutest little sheep on two pixels.</q></p>

<h5>Debut</h5>
<video width="323" height="163" src="/movies/pixhell/debut.mov"></video>

<h4 id="pixhell-s2">Series 2</h4>

<p><q>Our heros the spook and the sheep are sent to investigate a brutal murder in a quiet country village, but all is not as it seems, and the duo uncover much more than they bargained for.</q></p>

<h4 id="pixhell-s3">Series 3</h4>

<p><q>Beneath the deserts of Cairo lie secrets buried for hundreds of thousands of years, undisturbed and untouched - until now. Payton Jones, eccentric philanthropist, archeologist, adventurer for hire and retired spy, is determined to uncover the treasures of the dead - but there are those who would stop his meddling once and for all.</q></p>

<h4 id="pixhell-s4">Series 4</h4>

<p><q>The cold waste of space is a lonely place, devoid of contact with the human race. Luckily for Carter the orbit scout, he's sixty percent robot.</q></p>